body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    width: 1440px;
}
header{
    width: 1440px;
    height: 65px;
    justify-content: space-between;
    background-color: #ffffff;
    display: flex;
}
.logo{
margin-top: 12px;
margin-right: 120px;
margin-bottom: 12px;
margin-left: 40px;
gap: 10px;
width: 177px;
height: 41px;
padding: 8px 12px 8px 12px
}
.Search-box{
width: 352px;
height: 41px;
border-radius: 8px;
border: 1px solid;
margin-top: 12px;
margin-bottom: 12px;
gap: 10px;
display: flex;
}
.nav{
display: flex;
justify-content: space-between;
color: #000000;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
gap: 40px;
text-decoration: none;
margin-top: 24px;
margin-bottom: 24px;
}
.nav a.active{
    color: #5C53E9;
    margin-left: 210px;
}
.nav a{
    text-decoration: none;
    color: #000000;
}
.header1{
    display: flex;
    margin-bottom: 35px;
    width: 1440px;
    height: 65px;
    border: none;
    border-radius: x;
}
.header-block{
    display: flex;
}
.Search-box input{
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
}
.Search-box img{
    margin: 12.5px;
    margin-right: 0.5px;
    border-radius: 8px;
    

}
.button-primary{
    border-radius: 8px;
    width: 121px;
    height: 41px;
    margin-left: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 40px;
    background-color: #000000;
    color: #ffffff;
    border: none;
}
.logo2{
    margin-left: 52px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 32px;
    width: 40px;
    height: 40px;
    padding-top: 4px;
    padding-left: 4px;

}
.nav2{
    display: flex;
justify-content: space-between;
color: #000000;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
gap: 40px;
text-decoration: none;
margin-top: 30px;
margin-bottom: 30px;
}
.nav2 a{
    text-decoration: none;
    color: #242424;
}
.nav2 a.active{
    color: #5856D6;
}
.header3{
    width: 1440px;
    height: 80px;
}
.buttons1{
    margin-left: 685px;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F0F0F0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
.buttons1 img{
margin: 10px;

}
.buttons2{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F0F0F0;
    width: 40px;
    height: 40px;
    border-radius: 8px;


}
.buttons2 img{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.button-primary1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 48px;
    background-color: #5C53E9;
    border-radius: 8px;
    color: #ffffff;
    width: 66px;
    height: 40px;
    border: none;
}
.btn{
    display: flex;
    width: fit-content;
}
.logo0{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 36px;
    margin-right: 408.15px;
}
.header3{
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 10px;
}
.nav3{
    display: flex;
    margin-top: 30.5px;
    margin-bottom: 30.5px;
    gap: 50px;
    width: 405px;
    height: 19px;
}
.nav3 a{
    text-decoration: none;
    color: #000000;
}
.icon{
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 36px;
    margin-left: 417.15px;
}
.header5{
    background-color: #111928;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 1440px;
    height: 80px;
    border-radius: 10px;
}
.nav5{
    color: #ffffff;
    display: flex;
    gap: 40px;
    width: 405px;
    height: 19px;
    margin-top: 30.5px;
    margin-bottom: 30.5px;
    margin-right: 36px !important;

}
.nav5 a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400px;
    font-size: 16px;

}
.logo1{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 36px;
}
.header2{
    border-radius: 0;
    width: 1440px;
    height: 80px;
}
.search-box2{
    width: 500px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid;
    justify-content: space-between;
    /* padding: 10px 10px 10px 20px; */
    border-color: #D6D8DE;
    margin-top: 18px;
    margin-bottom: 18px;
    display: flex;
}
.search-box2 div{
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #D6D8DE;
    margin-left: 20px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
.search-box2 img{
margin-top: 10px;
margin-bottom: 10px;
margin-right: 10px;
}
