.button:hover {
    background-color: red;
}

.input:focus {
    border: 2px solid rgb(60, 210, 30);
}


.ddd li:first-child {
    font-weight: bold;
}


a:hover {
    color: red;
    text-decoration: underline;
}


a:focus {
    outline: 2px solid blue;
}


.block p:first-child {
    font-weight: bold;
    color: green;
}


.block p:last-child {
    color: orange;
}


.block p:nth-child(odd) {
    background-color: #f0f0f0;
}