h1 {
    font-weight: bold;
    color: black;
    text-align: left;
    font-size: 40px;
}
ol {
    font-size: 14px;
    color: red;
    margin: 20px;
}
div {
    background-color: blue  ;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    overflow: hidden;
}
html {
    background-image: url("bb123.jpeg");
}